.login-container {
    display: flex;
    justify-content: space-between;
}

.login-box {
    width: 50%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.google-login-button {
    margin: 20px;
    width: max-content;
    align-self: center;
    background-color: #DB4437;
    color:white;
}