.register-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sport-card {
    width: 17rem;
    height: max-content;
    margin: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-top: 3px solid white;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;;
}

.sport-title {
    display: flex;
    justify-content: space-between;
}

.sport-register {
    display: flex;
    margin: 3rem auto 0rem auto;
}