.top{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}::-webkit-scrollbar {
    display: none;
  }
.video-bg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
}
.title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    font-size: 8vw;
    mix-blend-mode: difference;
}
.sub-heading{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
    mix-blend-mode: difference;
}
.scroll-div{
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
    mix-blend-mode: difference;
}
.second-page{
    width: 100vw;
    height: 100vh;
}
.bg-image-1{
    object-fit: contain;
    scale: 1.5;
    width: 100vw;
    height: 100vh;
}
.sec{
    mix-blend-mode: normal;
}